.container {
    outline: 0.1em double whitesmoke;
    height: 75%;
    width: 30vw;
    overflow: scroll;
    overflow-x: hidden;
    overflow-wrap: anywhere;
    scroll-behavior: smooth;
    scrollbar-color: black whitesmoke;
    scrollbar-width: thin;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
